<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H-eXtreme</title>
</head>
<body>
    <h1 align="center">Ahorcado eXtreme</h1><br>
    <h1 align="center"><%= session["palabra"]%></h1>
    <h1 align="center">________________________</h1>
    <div align="center">
        <form action="/adivinar" method="POST"> 
                <input  type="text" name="letra_intento" id="letra_intento">
                <input  type="submit" value="Enviar">
        </form>
            
    </div>
    
</body>
</html>